@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply bg-gray-100 text-gray-800;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
a {
  @apply text-blue-500 hover:text-blue-700;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
  @apply font-bold;
  margin-top: 0;
}
html {
  scroll-behavior: smooth;
}